.listForm{
    display: flex;
    list-style: none;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 532px;
}

/* 2개 layout */
.Todo{
    flex:1;
    overflow-y: auto;
    background-color: beige;
}
.Done{
    flex:1;
    overflow-y: auto;
    background-color: rgb(182, 221, 185);
}
.input{
    display: flex;
 
}
#textinput{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
#textinput:hover{
    background-color:rgb(195, 240, 195);
    transition: 0.3s;
}

/******************Button******************/
#textbtn{
    width:10%;
}
#chkBtn{
    
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: beige;
    
    /* delete 버튼 */
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: 0;
    border-radius: 50%; 
    opacity: 0.8;
    font-size: 30px;
    color: green;
    /* border-width: 1px;상하좌우 -선굵기*/ 
}
/* 버튼위로 커서 옮기면 color 변함 */
#chkBtn:hover{
    background-color:rgb(133, 219, 133);
    transition: 0.3s;
    opacity: 1;
}

#delBtn{
    margin-left: auto;
    margin-bottom: 10px;
    background-color: #A5BE3200;
    opacity: 0.5;
    border:none;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    opacity: 0.8;
    font-size: 15px;
}
#delBtn:hover{
    background-color: pink;
    transition: 0.3s;
    opacity: 1;
}
#chkBtn_done{
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(182, 221, 185);
    
    /* delete 버튼 */
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: 0;
    border-radius: 50%; 
    opacity: 0.8;
    font-size: 30px;
    color: green;
}



/* 버튼와 수평맞춤 */
#list{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
/* ul 위치 좌로 조정 */
ul{
  
    margin-left:-40px;
}

.hidden{
    display: none;
}