.react-datepicker__input-container > input{
    height: 52px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    border: 1px solid;
}
.react-datepicker__input-container > input:hover{
    background-color: rgb(148, 243, 211);
    transition: 1s;
}