/* .react-datepicker__input-container > input {

} */
.react-datepicker__input-container > input:hover {
  /* background-color: rgb(148, 243, 211);
  transition: 1s; */
}

.form {
  height: 52px;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  border: none;
  outline: none;
  border-right: 1px solid #e9ecef;
}
